@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
:root {
    --primary-color: #7d8efd;
    --not-available-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: whitesmoke;
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

i {
    font-family: fontawesome !important;
}

.links {
    font-size: 22px;
}

.links a+a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a.deactivate {
    color: var(--not-available-color);
    pointer-events: none;
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -1px;
}

.links a:hover::after {
    width: 100%;
    transition: width 500ms ease-in-out;
}

/*=== CARD ===*/

.custom-card {
    background-color: whitesmoke;
    width: 800px;
    min-height: 400px;
    /* espaçamaneto ao centro */
    margin: 15px auto;
    /* grid dividido ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* sombra */
    box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.9);
    /* animação */
    animation: up 500ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/*=== DETAILS ===*/

.details {
    padding: 20px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.details .item:last-child {
    border: none;
}

.details h3, .details .item div:nth-child(1) {
    font-size: 13px;
    line-height: 23px;
    color: #777;
    letter-spacing: 0.3px;
    font-weight: bold;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 12px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*=== FORM ===*/

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: normal;
    font-size: 15px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 15px;
    font-weight: normal;
}

button[type="submit"] {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 4px;
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

button[type="custom-button"]:hover, button[type="submit"]:hover{
    background-color: #6160ff;
}

button[type="custom-button"]{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 4px;
    margin-top: 7px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.list-group-item.active {
    background-color: #5166ef;
    color: #fff !important;
}

/*=== CARDS ===*/

#wrapper {
    text-align: center;
    padding: 12px;
}

#wrapper h1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: white;
}

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background: whitesmoke;
    border: 1px solid #333;
    cursor: pointer;
    display: grid;
    padding: 5px;
}

.card__content {
    background-color: #111;
    filter: brightness(90%);
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin: 0px
}

.card__content p{
    margin: 0px
}

.card__info {
    align-items: center;
}

.card__palestrante {
    background-color: #d4a83a;
    text-align: center;
    border-radius: 50px 5px;
    color: #333;
    filter: brightness(95%);
    font-weight: bold;
    margin: 2px;
}

.card__horario {
    filter: brightness(95%);
    text-align: center;
    color: #333;
    font-weight: bold;
    margin: 0px
}


