{% extends 'layout.njk' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Cadastre as palestras</h2>
    <form method="POST" class="form" action="/palestra">
        <div class="form-group">
            <label >Título</label>
            <input type="text" name="titulo" class="form-control" placeholder="Título da palestra">
        </div>
        <div class="form-group">
            <label>Palestrante</label>
            <input type="text" name="palestrante" class="form-control" placeholder="Nome do palestrante">
        </div>
        <div class="form-group">
            <label >Data e Horário</label>
            <input id="horario" class="form-control" type="text" name="horario" > 
        </div>
            <button class="btn bg-primary" type="submit">Salvar Palestra</button>
            <br>
    </form>
</div>
<script>

$('#horario').datetimepicker({
  timeFormat: "hh:mm tt"
});
</script>


    <form class="custom-card" method="POST" action="/palestra">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/9548716/700x700) no-repeat center center / cover"></section>

        <section class="details" style="">
            <h3>Cadastre as Palestras</h3>

            <div class="item">
                <div>Título</div>
                <div>
                    <input type="text" name="titulo" class="form-control" placeholder="Título da palestra">
                </div>
            </div>

            <div class="item">
                <div>Palestrante</div>
                <div>
                    <input type="text" name="palestrante" class="form-control" placeholder="Nome do palestrante">
                </div>
            </div>
            <div class="item">
                <div>Data e Horário</div>
                <div>
                    <input class="form-control" type="datetime-local" name="horario">
                </div>
            </div>

            <button type="submit">Salvar Palestra</button>
        </section>

    {% endblock content %}