{% extends 'layout.njk' %}

{% block content %}

    <form class="" method="POST" action="/selecionaPalestra">

        <div id="wrapper">
            <h1>Selecione as Palestras...</h1>
        </div>

        <section class="cards">
            {% for palestra in palestras %}

                <div class="card" id="{{ palestra.id }}">
                    <div class="card__content">
                        <p>Nome da Palestra:</p>
                        <p>{{ palestra.titulo }}</p>
                    </div>
                    <div class="card__info">
                        <p class="card__palestrante">{{ palestra.palestrante }}</p>
                        <p class="card__horario">{{ palestra.horario }}</p>
                        </div>
                        <label class="form-check-label"><input style="align-content:flex-start" type="checkbox" name="Palestra1" value="Palestra1">
                    </div>
                {% endfor %}

                <button type="submit">Escolher Palestras</button>
            </section>

            <script>
                $("input[type='checkbox']:checked")
            </script>

        {% endblock content %}