{% extends 'layout.njk' %}

{% block content %}

    <form class="" method="POST" action="/selecionaPalestra">

        <div id="wrapper">
            <h1>Selecione as Palestras...</h1>
        </div>

        <section class="cards">
            {% for palestra in palestras %}

                <div class="card">
                    <div class="card__image" style="background: url(https://source.unsplash.com/collection/9548716/700x700) no-repeat center center / cover"></div>
                    <div class="card__title">{{ palestra.palestrante }}</div>
                    <p class="card__text">{{ palestra.titulo }}</p>
                    <p class="card__text_2">{{ palestra.horario }}</p>
                    <label class="form-check-label"><input style="align-content:flex-start" type="checkbox" name="{{ palestra.id }}" value="{{ palestra.id }}">
                    </div>
                {% endfor %}

            </section>
            <button type="submit_2">Escolher Palestras</button>

            <script>
                const image
                $("input[type='checkbox']:checked")
            </script>

        {% endblock content %}