{% block content %}

    <style>
        table {
            width: 300px;
            font: 17px Calibri;
        }

        table,
        th,
        td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
    </style>

    <div id="tabela">
        <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
            <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
                <span style="width:80px; height:60px;"><img
                        src="https://static.fecam.net.br/uploads/834/imagens/1970553.png" alt="Smiley face" height="90"
                        width="220"></span>
                <br><br>
                <span style="font-size:40px; font-weight:bold">Certificado de Conclusão</span>
                <br><br>
                <span style="font-size:20px"><i>Certificamos que</i></span>
                <br><br>
                <span style="font-size:25px"><b>{{ parameters.visitante.nome }}</b></span><br /><br />
                <span style="font-size:20px"><i>de Cadastro de Pessoa Física número <strong>{{ parameters.visitante.cpf }}</strong>,</i></span>
                <br />
                <span style="font-size:20px"><i>participou da palestra <strong>{{ parameters.palestra.titulo }}</strong></i></span>
                <br />
                <span style="font-size:20px"><i>no evento Expo Videira 2020.</i></span> <br /><br /><br />
                <span style="font-size:17px"><i><strong>{{ parameters.palestra.horario }}</strong></i></span><br>
                <br /><br />
                <span style="font-size:12px"><b>Documento certificado pela Universidade do Oeste de Santa
                        Catarina</b><br /></span>
                <span style="width:80px; height:60px;"><img
                        src="https://www.unoesc.edu.br/images/front_end/logo_unoesc.jpg" alt="Smiley face" height="50"
                        width="60"></span>
            </div>
        </div>
    </div>

{% endblock content %}