{% extends 'layout.njk' %}

{% block content %}

    <script>
        $('.links a:nth-child(1)').removeClass("active");
        $('.links a:nth-child(2)').removeClass("active");
        $('.links a:nth-child(3)').removeClass("active");
        $('.links a:nth-child(4)').addClass("active");

        $('.links a:nth-child(4)').removeClass("deactivate");
    </script>

    <div class="container mt-2 alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
        <strong>Seu certificado está cadastrado!</strong> Pronto para ser baixado agora mesmo!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for palestra in palestras %}

                        <a class="list-group-item list-group-item-action" reference="{{ palestra.dataValues.id }}" data-toggle="list" role="tab" style="font-size: 15px;">{{palestra.dataValues.titulo}}<i class="fas fa-download float-right"></i></a>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

        <script>
            $('#cpf').mask('000.000.000-00', {reverse: true});

            // Checar se vem da palestra
            let searchParams = new URLSearchParams(window.location.search);

            if (searchParams.has('certificado-novo')) {
                $('.alert').show();
            }

            $('.list-group-item').click(function() {
                w=window.open();
                w.document.write($(`.certificado[reference=${$(this).attr('reference')}]`).html());
                w.print();
            });
        </script>
    </form>

    {% for palestra in palestras %}

        <div class="certificado" reference="{{ palestra.dataValues.id }}" style="display: none;">
            {% set parameters = { 'visitante': visitante.dataValues,
                'palestra': palestra.dataValues } %}
            {% include "../certificado/certificado.njk" %}
        </div>

    {% endfor %}

{% endblock content %}