{% extends 'layout.njk' %}

{% block content %}

    <script>
        $('.links a:nth-child(2)').removeClass("active");
        $('.links a:nth-child(3)').removeClass("active");
        $('.links a:nth-child(1)').attr("active");
    </script>

    <form class="custom-card" method="POST" action="/entrar">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/9548716/700x700) no-repeat center center / cover">
            <!-- Then put toasts within -->
            <div id="notifications" style="position: relative; top: 0; margin: 1.5em" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto">Olá, parece que você veio!</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Agora é só colocar seu CPF e o seu certificado estará disponível!
                </div>
            </div>
        </section>

        <section class="details" style="">
            <h3>ENTRE NA SUA CONTA</h3>

            <div class="item">
                <div>CPF</div>
                <div>
                    <input id="cpf" type="text" name="cpf" placeholder="Insira o CPF!" pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}">
                </div>
            </div>

            <button type="submit">Entrar</button>

            <button type="custom-button">Cadastrar</button>

        </section>     
    <script>
        $('#cpf').mask('000.000.000-00', {reverse: true});

        // Checar se vem da palestra
        let palestra = "{{palestra}}"
        if (palestra) {
            $('#notifications').toast('show');
        }

        // Prevenir o botão de registrar de carregar form data
        $('button[type="custom-button"]').click(function (event) {
            event.preventDefault();

            if (palestra) {
                window.location.href = `/cadastro?palestra=${palestra}`;
            } else {
                window.location.href = '/cadastro';
            }
        });
    </script>
    </form>
{% endblock content %}