{% extends 'layout.njk' %}

{% block content %}

    <script>
        $('.links a:nth-child(1)').removeClass("active");
        $('.links a:nth-child(3)').removeClass("active");
        $('.links a:nth-child(4)').removeClass("active");
        $('.links a:nth-child(2)').addClass("active");
    </script>
    {% if erro %}
        <div class="alert alert-danger text-center" style="margin-top:10px;" role="alert">
            <strong>{{erro}}</strong>
        </div>
    {% endif %}
    <form class="custom-card" method="POST" action="/cadastro">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/9548716/700x700) no-repeat center center / cover"></section>

        <section class="details" style="">
            <h3>Novo Cadastro</h3>
            
            <div class="item">
                <div>CPF <small>*</small></div>
                <div>
                    <input class="form-control" id="cpf" type="text" name="cpf" placeholder="Insira o CPF..." pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}" required>
                </div>
            </div>

            <div class="item">
                <div>Nome <small>*</small></div>
                <div>
                    <input class="form-control" type="text" name="nome" placeholder="Insira o nome..." required>
                </div>
            </div>

            <div class="item">
                <div>Cidade <small>*</small></div>
                <div>
                    <input class="form-control" type="text" name="cidade" placeholder="Insira a cidade..." required>
                </div>
            </div>

            <div class="item">
                <div>Estado <small>*</small></div>
                <div>
                    <input class="form-control" type="text" name="estado" placeholder="Insira o estado..." required>
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento <small>*</small></div>
                <div>
                    <input class="form-control" type="date" name="data_nascimento" required>
                </div>
            </div>

            <div class="item">
                <div>Sexo <small>*</small></div>
                <div>
                    <span><input type="radio" name="sexo" value="M" checked="checked">Masculino</span>
                    <span><input type="radio" name="sexo" value="F">Feminino</span>
                </div>
            </div>

            <button type="submit">Prosseguir</button>
        </section>
        <script>
            $('#cpf').mask('000.000.000-00', {reverse: true});
        </script>
    </form>
{% endblock content %}