{% extends 'layout.njk' %}

{% block content %}

    <script>
        $('.links a:nth-child(1)').removeClass("active");
        $('.links a:nth-child(3)').removeClass("active");
        $('.links a:nth-child(2)').addClass("active");
    </script>

    <form class="card" method="POST" action="/cadastro">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/4296651/500x500) no-repeat center center / cover"></section>

        <section class="details" style="">
            <h3>Novo Cadastro</h3>

            <div class="item">
                <div>CPF</div>
                <div>
                    <input id="cpf" type="text" name="cpf" placeholder="Insira o CPF!" pattern="[0-9]{3}\.[0-9]{3}\.[0-9]{3}-[0-9]{2}" onchange="formataCPF(this)">
                </div>
            </div>

            <div class="item">
                <div>Nome</div>
                <div>
                    <input type="text" name="nome" placeholder="Insira o NOME!">
                </div>
            </div>

            <div class="item">
                <div>Cidade</div>
                <div>
                    <input type="text" name="cidade" placeholder="Insira o Cidade">
                </div>
            </div>

            <div class="item">
                <div>Estado</div>
                <div>
                    <input type="text" name="estado" placeholder="Insira o Estado">
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <div>
                    <input type="date" name="data">
                </div>
            </div>

            <div class="item">
                <div>Gênero</div>
                <div>
                    <span><input type="radio" name="genero" value="M" checked>Masculino</span>
                    <span><input type="radio" name="genero" value="F">Feminino</span>
                </div>
            </div>

            <div class="item">
                <div>Senha</div>
                <div>
                    <input type="password" name="senha">
                </div>
            </div>
            
            <button type="submit">Salvar</button>
        </section>     
    <script>
        $('#cpf').mask('000.000.000-00', {reverse: true});
    </script>
    </form>
{% endblock content %}